nav{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(#94989A,#94989A);
    box-shadow: 1px -1px black;
    
}